.active-tab {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(181, 181, 181, 0.373);
    transition: 0.1s ease-in;
    overflow: hidden;
    border: 2px solid black;
    margin-right: -8px;
    margin-left: -8px;
}
/* post styles */
.Caption-box{
    border: 2px solid #c6c6c6;
    border-radius: 8px;
}
.Caption-box>input{
    outline: none;
}
.Info-box{
   border: 2px solid #c6c6c6;
   background: #c6c6c617;
   border-radius: 8px;
}
.Posts-box {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid #c6c6c6;
   border-radius: 8px;
   padding: 3px; 
}  
.Posts-box img {
   max-width: 100%;
   max-height: 100%;
   object-fit: contain;
   border-radius: 8px; 
}
.Switch1,.Switch2{
    display: inline-block;
    position: relative;
    width: 45px;
    height: 23px;
    border-radius: 20px;
    overflow: hidden;
}
.Switch1>input,.Switch2>input{
    opacity: 0;
    height: 0;
    width: 0;
}
.Slider{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    background-color: #ccc;
    transition: 0.5s ease-in-out;
}
.Slider:before{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    left: 4px;
    bottom: 4px;
    background: #fff;
    transition: 0.4s ease-in-out;
    border-radius: 50%;
}
input:checked + .Slider{
    background: #545454;
}

input:checked + .Slider:before{
    transform: translateX(22px);
}
.Post-submit{
    border-radius: 8px;
}
/* drawer */
.custom-drawer .MuiDrawer-paper {
    height: 50vh;
}