.Profile-set-box{
    width: 100%;
    height: auto;
    box-shadow: 0 1px 6px rgb(0, 0, 0, 0.15);
    border-radius: 8px;
}
.profile-setup-imageBox{
    overflow: hidden;
    padding: 2px;
    border: 2px solid rgb(175, 175, 175);
}
.profile-setup-imageBox img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.Change-password-link{
    width: 100%;
    height: 4rem;
    box-shadow: 0 1px 7px rgb(0, 0, 0, 0.15);
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}
.Line-div{
    height: 0.9pt;
    width: 100%;
    background: rgb(205, 205, 205);
}
.Change-password-link:focus{
    background: rgb(244, 244, 244);
}
/* .Edit-Profile-Image-Container{
    width: ;
} */