/* toggle selector */

.toggle-selector{
    width: 50px;
    height: 25px;
    background-color: rgb(137, 137, 137);
    border-radius: 30px;
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.toggle-selector::before{
    content: "";
    position: absolute;
    left: 2px;
    top: 2.5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: block;
    animation: toggleOff 100ms linear forwards;
    z-index: 1;
}
.toggle-selector::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(71, 71, 71);
    z-index: 0;
    border-radius: 30px;
    animation: toggleOffBgSlide 100ms linear forwards;
}
.toggle-selector[data-selected=true]::after{
    animation: toggleOnBgSlide 100ms linear forwards;
}
.toggle-selector[data-selected=true]::before{
    animation: toggleOn 100ms linear forwards;
}


/* toggle selector-------------------------------------------------- */