@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

/* Resetting outline and border for input and textarea */
input, textarea{
  outline: none;
  border: none;
}
input:focus, textarea:focus {
  outline: none;
  border: 1px solid transparent;
  box-shadow: none;
}

input:hover, textarea:hover {
  outline: none;
  border: none;
}
.Generated-avatar-container{
  border: 2px solid black;
  overflow: hidden;
}
.Generated-avatar-container>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Adjustments for various screen sizes */
@media screen and (min-width: 900px) {
  html {
    font-size: 100%;
  }

  .Welcome-Screen {
    display: flex;
    align-items: flex-start;
  }

  .Social-Logins-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
  }

  .Home-Screen {
    display: flex;
    gap: 10rem;
    background: #fff;
  }

  .shadowEffect-footer {
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
    height: 100vh;
    position: fixed;
    bottom: 0;
    width: 15rem;
    gap: 3rem;
  }

  .Home-cover {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .Home-page {
    margin-left: 24rem;
    width: 28rem;
    background: white;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
  }

  .Empty-display {
    width: 10rem;
  }

  .Home-page > section {
    width: 100%;
    height: calc(100vh - 130px);
    padding-top: 0px;
  }
  .Search-Container{
    margin-left: 24rem;
    width: 28rem;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
  }

  .Profile-container {
    margin-left: 24rem;
    width: 28rem;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
  }

  .Navbar, .Profile-Nav, .Search-nav {
    width: 27.8rem;
  }

  .Profile-box-container {
    width: 100%;
  }
  .Post-Modal-container{
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .Post-Modal{
    width: 26rem;
  }
}
@media screen and (min-width: 600px){
  .shadowEffect-footer {
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
    position: fixed;
    height: 100vh;
    bottom: 0;
    width: 15rem;
    gap: 3rem;
  }
}

@media screen and (max-width: 889px) {
  html {
    font-size: 95%;
  }
  .Post-Modal{
    width: 30rem;
  }

  .Welcome-Screen {
    display: flex;
    align-items: flex-start;
  }

  .Social-Logins-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
  }

  .Home-Screen {
    display: flex;
    gap: 20px;
  }

  .shadowEffect-footer {
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
    position: static;
    height: 100vh;
    bottom: 0;
    width: 15rem;
    gap: 3rem;
  }

  .Home-cover {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .Home-page {
    width: 38rem;
    background: white;
  }

  .Empty-display {
    display: none;
  }

  .Home-page > section {
    width: 100%;
    height: calc(100vh - 130px);
    padding-top: 20px;
  }

  .Profile-container {
    width: 38rem;
  }

  .Navbar, .Search-nav, .Profile-Nav {
    width: 38rem;
  }

  .Profile-box-container {
    width: 100%;
  }
  .Search-Container{
    width: 38rem;
  }
  /* .Display-Tabs-Screen{
    display: flex;
    justify-content: space-between;
  } */
}

@media screen and (max-width: 576px) {
  html {
    font-size: 95%;
  }

  .Screen-Displayer {
    height: 100vh;
  }

  .Navbar, .Search-nav, .Profile-Nav {
    width: 100%;
    height: 60px;
    left: 0;
  }
  .Search-Container{
    width: 100vw;
  }

  .Profile-container,
  .Profile-box-container {
    width: 100vw;
    background: white;
    min-height: 100vh;
  }


  .Welcome-Screen {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Social-Logins-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }

  .Home-Screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Home-cover {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .Home-page {
    width: 100vw;
    background: white;
  }

  .Navbar {
    width: 100%;
    height: 50px;
  }

  .Home-page > section {
    width: 100%;
    height: calc(100vh - 160px);
    padding-top: 0px;
  }

  .shadowEffect-footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background: #fff;
    width: 100%;
    height: 5.3rem;
    bottom: 0;
    left: 0;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .tab-content-1 {
    height: 66vh;
  }
  input, textarea{
    outline: none;
    border: none;
  }
  input:focus, textarea:focus {
    outline: none;
    border: none;
  }
  input:hover, textarea:hover {
    outline: none;
    border: none;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 75%;
  }

  .Info-box {
    height: 6rem;
  }

  .Caption-box {
    height: 3.1rem;
  }
  .video-container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.swiper-card{
  height:74vh;
}

  .Home-page{
    padding-bottom: 20px;
  }
  .Home-page > section {
    width: 100%;
    height: calc(100vh - 130px);
    padding-top: 5px;
  }

  .tab-content-1 {
    height: 52vh;
  }
  .video-container {
    width: 100vw;
    height: 88vh;
}
}

@media screen and (max-width: 320px) {
  html {
    font-size: 70%;
  }
  .video-container {
    width: 100vw;
    height: 87vh;
}
.Post-container-5{
  max-width: 8.1rem;
}
.swiper-card{
  height: 60vh;
}

}
